.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

#tb1 {
  width: 100% !important;
  height: 100%;
}

table {
  width: 100% !important;
  height: 100%;
}

mat-expansion-panel {
  width: 100%;
  height: 100%;
}

mat-accordion {
  width: 100%;
  margin: 5px;
  // height: 100%;
}
