<h1 mat-dialog-title>Dodaj cenovnik</h1>
<div mat-dialog-content>
  <p>Cena savetovanja</p>
  <mat-form-field>
    <mat-label>Cena savetovanja</mat-label>
    <input matInput type="number" [(ngModel)]="data.consultationPrice">
  </mat-form-field>
  <p>Cena pregleda</p>
  <mat-form-field>
    <mat-label>Cena pregleda</mat-label>
    <input matInput type="number" [(ngModel)]="data.examinationPrice">
  </mat-form-field>
  <p>Datum početka važenja</p>
  <mat-form-field>
    <mat-label>Datum početka važenja</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="data.validFrom">
  </mat-form-field>
  <p>Datum kraja važenja</p>
  <mat-form-field>
    <mat-label>Datum kraja važenja</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="data.validUntil">
  </mat-form-field>
  <button (click)="addItem()" class="add-button" mat-button mat-raised-button>DODAJ STAVKU</button>
</div>
<div mat-dialog-actions>
  <button (click)="add()" class="add-button" mat-button mat-raised-button>POTVRDI</button>
  <button (click)="close()" cdkFocusInitial class="cancel-button" mat-button mat-raised-button>ZATVORI</button>
</div>
