<h3 mat-dialog-title>PROMENA LOZINKE</h3>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Lozinka</mat-label>
    <input matInput placeholder="Lozinka" type="password" [(ngModel)]="request.password" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ponovi lozinku</mat-label>
    <input matInput placeholder="Ponovi lozinku" type="password" [(ngModel)]="request.repeatPassword" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button *ngIf="request.repeatPassword !== undefined && request.password !== undefined && request.password.length > 4 && request.password === request.repeatPassword"
    mat-button mat-flat-button matTooltip="Uloguj se" color="primary" (click)="change()">PROMENI</button>
  <!-- <button mat-button mat-flat-button matTooltip="Otkaži" color="accent" (click)="cancel()">OTKAŽI</button> -->
</div>
