<div class="navigation">
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Izveštaj</mat-card-title>
      <mat-card-subtitle>Izveštaj o poslovanju</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite stranici izveštaja o poslovanju.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('izvestaj')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Lekovi</mat-card-title>
      <mat-card-subtitle>Lista lekova</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite listi lekova.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('lek')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Farmaceuti</mat-card-title>
      <mat-card-subtitle>Lista zaposlenih farmaceuta</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite listi zaposlenih farmaceuta.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('farmaceut')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Dermatolozi</mat-card-title>
      <mat-card-subtitle>Lista zaposlenih dermatologa</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite listi zaposlenih dermatologa.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('dermatolog')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Termini savetovanja</mat-card-title>
      <mat-card-subtitle>Lista savetovanja</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite listi savetovanja u apoteci.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('konsultacija?pharmacyID=' + admin.pharmacy.id)">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Termini pregleda</mat-card-title>
      <mat-card-subtitle>Lista pregleda</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite listi pregleda u apoteci.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('pregled?pharmacyID=' + admin.pharmacy.id)">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Narudzbine</mat-card-title>
      <mat-card-subtitle>Lista narudzbina</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite listi narudzbina.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('narudzbina')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Rezervisani lekovi</mat-card-title>
      <mat-card-subtitle>Lista rezervisanih lekova</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite listi rezervisanih lekova.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('rezervacija')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Cenovnik</mat-card-title>
      <mat-card-subtitle>Cenovnik</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite cenovniku.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('cenovnik')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Stavke cenovnika</mat-card-title>
      <mat-card-subtitle>Stavke cenovnika</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite stavkama cenovnika.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('stavka')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Zalihe</mat-card-title>
      <mat-card-subtitle>Zalihe lekova</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite zalihama lekova.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('zaliha')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Akcije/promocije</mat-card-title>
      <mat-card-subtitle>Lista akcija/promocija</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite listi akcija/promocija.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('promocija')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Promeni podatke</mat-card-title>
      <mat-card-subtitle>Promena podataka</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Otvorite dijalog za promenu podataka.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="open('edit')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="navigation-card">
    <mat-card-header>
      <mat-card-title>Promeni lozinku</mat-card-title>
      <mat-card-subtitle>Promena lozinke</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Pristupite promeni lozinke.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button class="add-button" (click)="navigate('change-password')">PRISTUPI</button>
    </mat-card-actions>
  </mat-card>
</div>
