<mat-card class="navigation-card">
  <mat-card-header>
    <mat-card-title>Lekovi</mat-card-title>
    <mat-card-subtitle>Lista lekova</mat-card-subtitle>
  </mat-card-header>
 <mat-card-content>
   <div class="section basic-info">
     <h1>{{ pharmacy.name }}</h1>
     <div class="address">{{ pharmacy.address }}</div>
     <hr />
     <div class="description">{{ pharmacy.description }}</div>
     <div class="avarage-grade">Ocena: {{ pharmacy.rating }}</div>
   </div>
   <div class="section phar-derm">
     <div class="pharmacists">
       <h3>Lista zaposleniih farmaceuta</h3>
       <div *ngFor="let pharmacist of pharmacists"></div>
     </div>
     <div class="dermatologists">
       <h3>Lista zaposlenih dermatologa</h3>
       <div *ngFor="let dermatologist of dermatologists"></div>
     </div>
   </div>
   <div class="section medicine">
     <h3>Dostupni lekovi</h3>
     <div *ngFor="let item of items">
       <div class="medicine">
         -
         <span class="med-info"
         >{{ item.medicine.name }} ({{ item.medicine.manufacturer }})</span
         >
         <span class="price">Cena: {{ item.price }}</span>
       </div>
       <hr />
       <div
         *ngIf="patient"
         class="reserve"
         (click)="reserveMedicine(item.medicine)"
       >
         Rezervisi lek
       </div>
     </div>
   </div>
   <div class="section consultation">
     <h3>Zakazi konsultacije kod slobodnog dermatologa</h3>
   </div>
  </mat-card-content>
</mat-card>

