<h1 mat-dialog-title>Dodaj farmaceuta</h1>
<div mat-dialog-content>
  <p>Korisnik</p>
  <mat-form-field>
    <mat-label>Korisnik</mat-label>
    <mat-select [(value)]="user">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let user1 of users" [value]="user1">{{user1.username}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Apoteka</p>
  <mat-form-field>
    <mat-label>Apoteka</mat-label>
    <mat-select [(value)]="data.pharmacy">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let pharmacy of pharmacies" [value]="pharmacy">{{pharmacy.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-raised-button class="add-button" (click)="add()">DODAJ</button>
  <button mat-button mat-raised-button class="cancel-button" (click)="close()" cdkFocusInitial>ZATVORI</button>
</div>
