/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-login {
  display: table-caption;
}
app-register {
  display: table-caption;
}

app-request-token {
  display: block;
  margin: auto;
  width: 300px;
  padding-top: 100px;
}

button {
  margin: 5px !important;
}

.filter-button {
  background-color: #546e7a;
  color: white;
}

.edit-button {
  background-color: #00838f;
  color: white;
}

.add-button {
  background-color: #00796b;
  color: white;
}

.info-button {
  background-color: #0277bd;
  color: white;
}

.delete-button {
  background-color: #d81b60;
  color: white;
}

.cancel-button {
  background-color: #880e4f;
  color: white;
}
