/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-login {
  display: table-caption;
}
app-register {
  display: table-caption;
}

app-request-token {
  display: block;
  margin: auto;
  width: 300px;
  padding-top: 100px;
}

button {
  margin: 5px !important;
}
